*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
p{
    font-size: 24px;
}

body{
    background:#F9F8F4;
    color:#222;
    line-height:1.6;
    padding-left: 5%;
    padding-right: 5%;
}
.menu-icon{
    display: none;

}

img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
    color:#333;
}

ul{
    list-style:none;
}

.navbar{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 0;
}

.logo h2{
    color:#0B6B61;
    font-size:30px;
    font-weight:700;
}

.nav-link{
    display:flex;
    gap:35px;
}

.nav-link a{
    font-size:18px;
    transition:.3s;
}

.nav-link a:hover{
    color:#0B6B61;
}

.hero{
    width:80%;
    margin:70px auto;
    text-align:center;
}

.hero h1{
    font-size:72px;
    line-height:1.2;
    margin-bottom:25px;
}

.hero p{
    width:70%;
    margin:auto;
    color:#666;
    font-size:18px;
}

.join-btn{
    margin-top:30px;
    padding:16px 45px;
    border:none;
    background:#0B6B61;
    color:white;
    border-radius:40px;
    cursor:pointer;
    font-size:18px;
}
.hero-images{
    display: flex;
    gap: 35px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.image-box {
    width:90%;
    margin:30px auto;
    display: inline-block;
    
    
}




.wellbeing-section{
    width:90%;
    margin:80px auto;
    padding:50px;

    background:#f2f2f2;
    border-radius:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
}

.left-content{
    flex:2;
}

.right-content{
    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;
}

.right-content img{
    width:100%;
    max-width:280px;
}

.feature-container{
    display:flex;
    gap:40px;
}

.feature-box{
    flex:1;
}

.organic{
    width:90%;
    margin:100px auto;
    display:flex;
    align-items:center;
    gap:60px;
}

.left-image{
    flex:1;
}

.organic-text{
    flex:1;
}

.organic-text h3{
    font-size:50px;
    margin-bottom:20px;
}

.organic-text p{
    color:#666;
    margin-bottom:30px;
}

.organic-btn{
    padding:15px 40px;
    border:none;
    background:#0B6B61;
    color:white;
    border-radius:40px;
    cursor:pointer;
}

.you-are{
    width:90%;
    margin:100px auto;
    display:flex;
    align-items:center;
    gap:60px;
}

.left-text{
    flex:1;
}

.left-text h3{
    font-size:50px;
    margin-bottom:20px;
}

.left-text p{
    color:#666;
}

.right-img{
    flex:1;
}

.features-section{
    width: 90%;
    margin: 100px auto;

    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
}

.feature-card{
    width: 300px;
    background: #fff;
    padding: 40px 30px;

    border-radius: 25px;

    text-align: center;

    box-shadow: 0 8px 20px rgba(0,0,0,.08);

    transition: .3s ease;
}

.feature-icon{
    width: 80px;
    height: 80px;

    margin: 0 auto 30px;

    background: #0B6B61;
    color: #fff;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 35px;
}

.feature-card h2{
    font-size: 2.2rem;
    font-weight: 700;

    color: #222;

    line-height: 1.4;

    margin-bottom: 20px;
}

.feature-card p{
    color: #666;

    font-size: 16px;

    line-height: 2;
}

footer{
    background:#0B6B61;
    color:#fff;
    margin-top:80px;
    padding-top:60px;
}

.footer-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    gap:50px;
    padding-bottom:40px;
}

.footer-logo,
.footer-links,
.footer-contact{
    flex:1;
}

.footer-logo h2{
    margin-bottom:15px;
    font-size:30px;
}

.footer-logo p{
    line-height:1.8;
}

.footer-links h3,
.footer-contact h3{
    margin-bottom:20px;
}

.footer-links ul{
    list-style:none;
}

.footer-links li{
    margin-bottom:10px;
}

.footer-links a{
    color:#fff;
    text-decoration:none;
}

.footer-contact p{
    margin-bottom:10px;
}

footer hr{
    border:none;
    border-top:1px solid rgba(255,255,255,.2);
}

.copyright{
    text-align:center;
    padding:20px;
    font-size:14px;
}


/*ipad*/


@media screen and (max-width: 992px){

.container{
    width:95%;
}

.navbar{
    padding:20px 0;
}

.nav-link{
    gap:20px;
}

.hero{
    width:90%;
}

.hero h1{
    font-size:55px;
}

.hero p{
    width:90%;
    margin:auto;
}

.hero-images{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.image-box img{
    height:250px;
    object-fit:cover;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.wellbeing,
.organic,
.you-are{
    flex-direction:column;
    text-align:center;
    gap:40px;
}

.wellbeing h2,
.organic h2,
.organic h3,
.left-text h3{
    font-size:40px;
}

.feature-container{
    justify-content:center;
    gap:20px;
}
p{
    font-size: 14px;
}

.right-content img,
.right-img img{
    width:280px;
}

.left-image img{
    width:100%;
}

footer{
    text-align:center;
}

.footer-container{
    flex-direction:column;
    gap:30px;
}

}



/* Mobile Device*/


@media screen and (max-width:768px){

body {
    padding-left: 5%;
    padding-right: 5%;
}
    .navbar{
    flex-direction:column;
    gap:20px;
}

.logo h2{
    font-size:28px;
}

.nav-link{
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
    display: none;
}
.menu-icon{
    display: block;
    cursor: pointer;
    order: -1;
    font-size: 35px;
   
}

.hero{
    width:95%;
    margin:40px auto;
}

.hero h1{
    font-size:36px;
    line-height:1.2;
}

.hero p{
    width:100%;
    font-size:15px;
}

.join-btn{
    width:100%;
    padding:15px;
}

.hero-images{
    display:flex;
    flex-direction:column;
}

.image-box img{
    height:auto;
}
p{
    font-size: 12px;
}

.wellbeing{
    padding:30px 20px;
}
.right-content{
    display: none;
}

.wellbeing h2{
    font-size:32px;
}

.organic,
.you-are{
    flex-direction:column;
}

.organic h3,
.left-text h3{
    font-size:32px;
}

.organic-btn{
    width:100%;
}

.left-image img,
.right-img img{
    width:100%;
    display: none;
}


    .features-section{
        width:90%;
        margin:60px auto;

        display:flex;
        flex-direction:column; /* Stack cards vertically */
        align-items:center;

        gap:20px;
    }

    .feature-card{
        width:100%;
        max-width:350px;

        padding:30px 25px;

        border-radius:20px;
    }

    .feature-card h2{
        font-size:1.8rem;
    }

    .feature-card p{
        font-size:14px;
        line-height:1.8;
    }

    footer{
        margin-top:50px;
    }

    .footer-container{
        display:flex;
        flex-direction:column;
        align-items:center;
        text-align:center;

        gap:30px;
    }

}
